@tailwind base;
@tailwind components;
@tailwind utilities;

.rborder {
    border: 1px solid red;
}

.gradient-text {
    background: linear-gradient(to right, #0388A6, #32D9C8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}